@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./normalize.css);

/* CSS class module */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}   
/* 본문 기본 설정 */
body{ 
    font-family: 'Spoqa Han Sans', 'Sans-serif'; 
    font-weight: 400;
    font-size: 1.4rem;
    color: #181818;
    background-color: #ffffff;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}


.container{
    background-color: silver;
}
.visual{
    height: 10vh;
    background-color: lime
}
.main{
    background-color: blue;
}
.g1{
    background-color: pink
}
.g2{
    background-color: orange
}
.g3{
    background-color: skyblue
}
.slogan{
    height: 10vh;
    background-color: blueviolet;
}
.footer-bg{
    background-color: teal;
}
.footer{
    height: 10vh;
    background-color: tomato
}
/* 기본 Box sizing */
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    padding: 10px 30px 10px 30px;
    background-color: #ffffff;
    border-radius:0 0 15px 15px;
    position: relative;
}
/* 로고 */
.logo{
    position: absolute;
    top: 45px;
    left: 65px;
    margin: 0;
}
/* 링크 */
.link{
    list-style-type: none;
    padding-left: 0;
    background-color: yellow;
    text-align: right;
    font-size: 0;
    margin: 0;
    margin-right: -10px;
    text-transform: uppercase;
    padding: 2px 0;
}
.link > li{
    background-color: pink;
    display: inline;
    font-size: 1.4rem;
}
.link > li > a{
    padding: 8px 10px;
}
.link > li, .link > li > a {
    display: inline-block;
}
/* 네비 */
.navigation{
    background-color: orange;
}
/* 메인 콘텐츠 */
.main{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 30px;
}

.g1{
    width: 250px;
}
.g2{
    width: 380px;
}
.g3{
    width: 190px;
}
.slogan{
    
}