@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./normalize.css);
@import url(./fontello.css);

/* CSS class module */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}   
.a11y-hidden{
    background-color: yellow;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path:polygon(0 0, 0 0, 0 0);
}
/* 본문 기본 설정 */
body{ 
    font-family: 'Spoqa Han Sans', 'Sans-serif'; 
    font-weight: 400;
    font-size: 1.4rem;
    color: #181818;
    background: url(images/bg_flower.png) no-repeat center 0,
                #ccc linear-gradient(#ccc, #eee, #fff) no-repeat;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}


.g1{
    background-color: pink
}
.g2{
    background-color: orange
}
.g3{
    background-color: skyblue
}
.slogan{
    height: 10vh;
    background-color: blueviolet;
}
.footer-bg{
    background-color: teal;
}
.footer{
    height: 10vh;
    background-color: tomato
}
/* 기본 Box sizing */
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    padding: 0 30px 0 30px;
    background-color: #ffffff;
    border-radius:0 0 15px 15px;
    position: relative;
}
/* 로고 */
.logo{
    position: absolute;
    top: 52px;
    left: 59px;
    margin: 0;
}
/* 링크 */
.link{
    text-align: right;
    font-size: 0;
    margin-right: -10px;
    text-transform: uppercase;
    padding: 2px 0;
}
/* .link > li{
    display: inline;
    font-size: 1.4rem;
}
.link > li > a{
    padding: 10px;
    display: inline-block;
} */
.link > li{
    font-size: 1.4rem;
}
.link > li > a{
    padding: 10px;
}
.link > li, .link > li > a{
    display: inline-block;
}
/* 비주얼 */
.visual{
    height: 120px;
    position: relative;
}
.visual::before,
.visual::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: flowerAni 2s infinite alternate;
}
.visual::before{
    background: url(images/ani_flower_01.png) no-repeat 0px -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
}
.visual::after{
    background: url(images/ani_flower_03.png) no-repeat 300px 0px,url(images/ani_flower_04.png) no-repeat 800px 0px;
    animation-delay:1s;
}
.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    animation: textAni 0.5s 1s forwards;
    /* animation-play-state: running; */
    opacity: 0;
}
@keyframes textAni{
    0%{
        opacity: 0;
        transform: translate(0,0);
        font-size: 1.2rem;
        opacity: 0;
    }
    100%{
        transform: translate(400px,75px);
        font-size: 2.4rem;
        opacity: 1;
    }
}
@keyframes flowerAni{
    0%{
        opacity: 0;

    }
    100%{

        opacity: 1;
    }
}
/* 메인 메뉴 */
.navigation{
    padding-bottom: 40px;
}
.menu{
    border-top: 2px solid #000;
    margin: 0;
    padding-left: 225px;
    background: #af0000 linear-gradient(to bottom, #ff5132 0%,#af0000 35%,#bc2c00 65%,#ff5132 100%);
    border-radius: 0 0 5px 5px;
    margin: 5px 0 0;
    height: 47px;
}

.menu-item{
    border-left: 2px solid #fff;
    float: left;
    position: relative;
}
.menu-link{
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    display: block;
    padding: 0 20px;
    text-shadow: 
    1px 0px #000,
    0px 1px #000, 
    -1px 0 #000,
    0px -1px #000;
    line-height: 45px;
    outline: 0;
}
.submenu{
    position: absolute;
    top: 47px;
    display: none;
    white-space: nowrap;
}
.submenu-item{
    display: inline-block;
}
.menu-item-act .submenu{
    display: block;
}

.menu-item-act .menu-link,
.menu-link:focus{
    color:yellow;
    /* border-bottom: 2px solid black; */
}

.menu-item-act .menu-link::after{
    content:"";
    display: block;
    border-bottom: 2px solid #000;
}
.menu-item:nth-child(1) .submenu,
.menu-item:nth-child(2) .submenu,
.menu-item:nth-child(3) .submenu{
    left: 0;
}
.menu-item:nth-child(4) .submenu,
.menu-item:nth-child(5) .submenu,
.menu-item:nth-child(6) .submenu{
    right:0;
}
.submenu > li{
    margin-right: 10px;
}
.submenu > li > a{
    padding: 10px 0;
    display: block;
}
/* 메인 콘텐츠 */
.main{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 30px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}
.group{
    float: left;
}
.g1{
    width: 250px;
}
.g2{
    width: 380px;
}
.g3{
    width: 190px;
}
.login{
    border-radius: 5px;
    background: #af0000 linear-gradient(to bottom,#ff5132,#af0000);
    padding: 10px;
}
.login h2{
    font-weight: 700;
    font-size: 1.6rem;
    color: yellow;
    margin: 10px;
}
.login-wrap{
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}
.login form{
    border-bottom: 1px solid lightgray;
}
.login-wrap fieldset{
    display: flex;
}
.login-input{
    display: flex;
    flex-direction: column;
}
.login-wrap li{
    display: inline-block;
}