@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./normalize.css);
@import url(./fontello.css);

/* CSS class module */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}   
.a11y-hidden,legend{
    background-color: yellow;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path:polygon(0 0, 0 0, 0 0);
}
/* 본문 기본 설정 */
body{ 
    font-family: 'Spoqa Han Sans', 'Sans-serif'; 
    font-weight: 400;
    font-size: 1.4rem;
    color: #181818;
    background: url(images/bg_flower.png) no-repeat center 0,
                #ccc linear-gradient(#ccc, #eee, #fff) no-repeat;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}


/* 
.g2{
    background-color: orange
} */
.g3{
    background-color: skyblue
}
.slogan{
    height: 10vh;
    background-color: blueviolet;
}
.footer-bg{
    background-color: teal;
}
.footer{
    height: 10vh;
    background-color: tomato
}
/* 기본 Box sizing */
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    padding: 0 30px 0 30px;
    background-color: #ffffff;
    border-radius:0 0 15px 15px;
    position: relative;
}
/* 로고 */
.logo{
    position: absolute;
    top: 52px;
    left: 59px;
    margin: 0;
}
/* 링크 */
.link{
    text-align: right;
    font-size: 0;
    margin-right: -10px;
    text-transform: uppercase;
    padding: 2px 0;
}
/* .link > li{
    display: inline;
    font-size: 1.4rem;
}
.link > li > a{
    padding: 10px;
    display: inline-block;
} */
.link > li{
    font-size: 1.4rem;
}
.link > li > a{
    padding: 10px;
}
.link > li, .link > li > a{
    display: inline-block;
}
/* 비주얼 */
.visual{
    height: 120px;
    position: relative;
}
.visual::before,
.visual::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: flowerAni 2s infinite alternate;
}
.visual::before{
    background: url(images/ani_flower_01.png) no-repeat 0px -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
}
.visual::after{
    background: url(images/ani_flower_03.png) no-repeat 300px 0px,url(images/ani_flower_04.png) no-repeat 800px 0px;
    animation-delay:1s;
}
.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    animation: textAni 0.5s 1s forwards;
    /* animation-play-state: running; */
    opacity: 0;
}
@keyframes textAni{
    0%{
        opacity: 0;
        transform: translate(0,0);
        font-size: 1.2rem;
        opacity: 0;
    }
    100%{
        transform: translate(400px,75px);
        font-size: 2.4rem;
        opacity: 1;
    }
}
@keyframes flowerAni{
    0%{
        opacity: 0;

    }
    100%{

        opacity: 1;
    }
}
/* 메인 메뉴 */
.navigation{
    padding-bottom: 40px;
}
.menu{
    border-top: 2px solid #000;
    margin: 0;
    padding-left: 225px;
    background: #af0000 linear-gradient(to bottom, #ff5132 0%,#af0000 35%,#bc2c00 65%,#ff5132 100%);
    border-radius: 0 0 5px 5px;
    margin: 5px 0 0;
    height: 47px;
}

.menu-item{
    border-left: 2px solid #fff;
    float: left;
    position: relative;
}
.menu-link{
    line-height: 45px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    display: block;
    padding: 0 20px;
    text-shadow: 
    1px 0px #000,
    0px 1px #000, 
    -1px 0 #000,
    0px -1px #000;
    outline: 0;
}
.submenu{
    position: absolute;
    top: 47px;
    display: none;
    white-space: nowrap;
}
.submenu-item{
    display: inline-block;
}
.menu-item-act .submenu{
    display: block;
}

.menu-item-act .menu-link,
.menu-link:focus{
    color:yellow;
    /* border-bottom: 2px solid black; */
}

.menu-item-act .menu-link::after{
    content:"";
    display: block;
    border-bottom: 2px solid #000;
}
.menu-item:nth-child(1) .submenu,
.menu-item:nth-child(2) .submenu,
.menu-item:nth-child(3) .submenu{
    left: 0;
}
.menu-item:nth-child(4) .submenu,
.menu-item:nth-child(5) .submenu,
.menu-item:nth-child(6) .submenu{
    right:0;
}
.submenu > li{
    margin-right: 10px;
}
.submenu > li > a{
    padding: 10px 0;
    display: block;
}
/* 메인 콘텐츠 */
.main{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 30px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}
.group{
    float: left;
}
.g1{
    width: 250px;
}
.g2{
    width: 380px;
}
.g3{
    width: 190px;
}
/* 로그인 */
.login{
    background: #ff5132 radial-gradient(circle at right top, #ff5132, #af0000);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 0 0 silver;
    margin-bottom: 5px;
}
.login > h2{
    color: #ffff00;
    margin: 3px 0 13px 10px;
    font-size: 1.5rem;
}
.login > form,
.sign{
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}
.login > form{
    border-radius: 5px 5px 0 0;
    padding-top:10px;
}
.login > form > fieldset{
    padding-bottom: 10px;
    border-bottom : 1px solid silver;
    position: relative;
}
.login-id{
    margin-bottom: 5px;
}
.login label {
    display: inline-block;
    width: 4em;
}
.login input {
    width: 95px;
    height: 24px;
    padding: 1px 1px 1px 5px;
}
.login [type=submit]{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 53px;
    border: 1px solid orange;
    background: red;
    color: white;
    padding: 0;
    border-radius: 3px;
}
.sign{
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    letter-spacing: -1px;
}
/* .login{
    border-radius: 5px;
    background: #af0000 radial-gradient(circle, #ff5132, #ff5132, #af0000);
    padding: 10px;
    box-shadow: 5px 5px 0 0 silver;
}
.login h2{
    font-weight: 700;
    font-size: 1.5rem;
    color: #ff0;
    margin: 3px 0 13px 10px;
}
.login-wrap{
    border-radius: 5px;
    background-color: #fff;
}
.login-input{

}
.login form{
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: 1px solid lightgray;
}
.login-id,.login-pw{
    padding: 2px 0;
}
.login-id > input,
.login-pw > input{
    width: 45%;
}
.login-wrap li{
    display: inline-block;
}
.login button{

    background-color: #af0000;
} */ 

/* 유효성 검사 배너 링크 */
.validation{
    padding: 10px 0;
}
.validation li{
    background: url(./images/validation_icon.png) no-repeat 20px center, 
    lightgray radial-gradient(circle at left top , silver, lightgray);
    border: 1px solid gray;
    border-radius: 15px;
    margin: 10px;
    text-indent: 40px;
    line-height: 30px;
}
.validation a {
    display: block;
}
.validation a:hover{
    color:red;
}
.validation img{
    display: inline-block;
    
}
/* 용어 설명 */
dl,dd{
    margin: 0;
}
.term{
    background:linear-gradient(to bottom, silver, white);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
.term h2{
    font-size: 1.5rem;
    margin: 0;
}
.term dl{
    margin-top: 15px;
}
.term dd img{
    background: yellow;
    float: left;

}
.term dt{
    background: pink;
    float: right;
    /* text-align: left;s */
    width: 145px;
    color: #296897;
    font-weight: 700;
    margin-bottom: 10px;
}
.term-p{
    background: skyblue;
    width: 145px;
    float: right;
    display: block;
}
.even{
    margin-top: 10px;
}
.even dt,
.even .term-p{
    float: left;
}
.even dd img{
    float: right;
}
/* 검색 */
.search{
    padding: 15px 25px 10px 25px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, silver, white);
    border: 1px solid gray;
    border-bottom: 0;
    margin-bottom: 20px;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border-radius: 3px;
    border: 1px solid gray;
    margin:0 3px;
    padding: 1px 1px 1px 5px;
    height: 24px;
    width: 200px;
}
.search button{
    background: #202020;
    color:white;
    font-size:1.2rem;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid gray;
    vertical-align: middle;
}

/* 게시판 */
.board{
    position: relative;
    height: 200px;
}
.board-item{
float: left;
padding: 10px;
border: 1px solid gray;
border-radius: 5px 5px 0 0;
background-color: lightgray;
}
.board-act:not(.board-item:first-of-type){
    margin-left: -1px;
}
.board-item:first-of-type{
    margin-right: -1px;
}
.board-item > ul{
    display: none;
}
.board-act{
    border: 1px solid orangered;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    color:orangered;
}
.board-act > ul{
    white-space: nowrap;
    display: block;
    position: absolute;
    color: black;
    top:40px;
    left: 0;
}
.board > a{
    position: absolute;
    top: 0;
    right: 0;
}
.board-act > ul > li {
    float: left;
    width: 100%;
    line-height: 30px;
}
.board-item > ul > li > a {
    float: left;
    display: block;
    padding-left: 5px;
}
.board-act li time{
    float: right;
}
.board-act > ul{
    width: 100%;
} 
/* 뉴스 */
